﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="MandacTester._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form runat="server">
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox><asp:Button ID="ButtonRun" Text="Get volume" runat="server" OnClick="ButtonRun_Click" /><br />
        <asp:Label ID="LabelResult" runat="server"></asp:Label>
    </form>

</body>
</html>
