﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CMTMessageStart.ascx.cs" Inherits="FOWebApp.CMTMessageStart" %>
<div id="divTable" runat="server">

</div>
<div id="divGraph" runat="server">

</div>
