﻿html, body, .height-100percent {
    height: 100%;
}

body {
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

.appmain {
    border: 0px;
    width: 100%;
}

.headerPane {
    /*background-image: url("./Images/header.jpg");*/
    background-repeat: no-repeat;
    background-color: #25A0DA;
    height: 80px;
}

.leftpane {
    width: 200px;
    border-right-color: Black;
    border-right-style: solid;
    border-right-width: thin;
    vertical-align: top;
    background-color: #F8F8F8;
    min-height: 100%;
}

.leftpane-image-ssl {
    margin: 40px 0;
}

.rightpane {
    vertical-align: top;
    width: 100%;
}

.title {
    vertical-align: middle;
    font-family: Futura, Arial, sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-family: Futura, Arial, sans-serif;
    font-size: 14px;
    color: black;
}

.logotext {
    float: left;
}

.logo {
    float: right;
    /*width: 124px;*/
}

.contentPane {
    margin-left: 10px;
}

.termDetails {
    width: 600px;
    padding-top: 10px;
    padding-left: 10px;
}

.tabPane {
    padding-top: 20px;
    padding-left: 20px;
}

.chartPane {
    padding-top: 20px;
    padding-left: 20px;
}

.menuPane {
    background-image: url("./Images/nav.png");
    height: 30px;
}

.picturespace {
    float: left;
    width: 400px;
}

.infospace {
    float: left;
    position: relative;
}

.locationInput {
}

.locationMap {
    width: 100%;
    height: 400px;
}

.tablabel {
    color: White;
}

.datapanel {
    padding-bottom: 10px;
}

.formLabel {
    font-weight: bolder;
}

.requiredLabel {
    Color: Red;
    font-weight: bolder;
}

.optionalField {
    background-color: #FFFF99;
}

.spacer {
    height: 20px;
}

.rgAltRow, .rgRow {
    cursor: pointer !important;
}

/* Used in some controls instead of cellspacing, but could be used in all controls with a table */
.table-spaced {
    border: none;
    border-spacing: 5px;
    border-collapse: separate;
    /* Otherwise, the font-size from the body is not taken */
    font-size: inherit;
}

    /* Used in some controls instead of cellpadding, but could be used in all controls with a table */
    .table-spaced td {
        padding: 10px;
    }
