<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="DefaultSidebar1.ascx.cs"
    Inherits="Sidebar1" %>
<%@ Register TagPrefix="art" TagName="DefaultVerticalMenu" Src="DefaultVerticalMenu.ascx" %>
<art:DefaultVerticalMenu ID="DefaultVMenuContent" runat="server" />
