<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="DefaultMenu.ascx.cs" Inherits="Menu" %>
<ul class="art-hmenu">
    <li><a href="Default.aspx" class=" active"><span class="l"></span><span class="r"></span><span class="t">Home</span></a></li>
    <li><a href="Default.aspx?pg=about"><span class="l"></span><span class="r"></span><span class="t">About</span></a></li>
</ul>

