﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TerminalNMSGraphsTab.ascx.cs" Inherits="FOWebApp.TerminalNMSGraphsTab" %>

<label id="labelTerminalMacAddresScramble" runat="server" type="text" visible="false"></label>
<iframe src="http://nms.satadsl.net:3000/" id="iframeTerminalNMSGraphsTab" runat="server" width="100%" height="800" frameborder="0">
</iframe>