﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TerminalNMSSpeedtestTab.ascx.cs" Inherits="FO_WebRole.TerminalNMSSpeedtestTab" %>

<iframe src="http://nms.satadsl.net:82/bandwidth/" id="iframeTerminalNMSSpeedtestTab" runat="server" width="100%" height="800" frameborder="0">
</iframe>