﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ISPDetailsForm.aspx.cs" Inherits="FOWebApp.Nocsa.ISPDetailsForm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ISP Details</title>
    <link href="~/CMTStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <telerik:RadScriptManager ID="RadScriptManager1" runat="server"></telerik:RadScriptManager>
    <div>
        <asp:PlaceHolder ID="PlaceHolderISPDetails" runat="server"></asp:PlaceHolder>
    </div>
    </form>
</body>
</html>
