﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NMSDashboard.ascx.cs" Inherits="FOWebApp.Nocsa.NMSDashboard" %>
<iframe src="http://nms.satadsl.net:82/new/login.php" width="100%" height="800" frameborder="0">
</iframe>