﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TerminalList.ascx.cs"
    Inherits="FOWebApp.Nocsa.TerminalList" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<script type="text/javascript">
    function RowSelected(sender, eventArgs) {
        var grid = sender;
        var masterDataView = grid.get_masterTableView();
        var rowNum = eventArgs.get_itemIndexHierarchical();
        var row = masterDataView.get_dataItems()[rowNum];
        var macAddress = masterDataView.getCellByColumnUniqueName(row, "MacAddress").innerHTML;

        //Initialize and show the terminal details window
        var oWnd = radopen("Nocsa/TerminalForm.aspx?mac=" + macAddress, "RadWindowModifyTerminal");
    }

    function CommandSelected(sender, eventArgs) {
        var grid = sender;
        if (eventArgs.get_commandName() == "ModifyTerminal") {
            var macAddress = eventArgs.get_commandArgument();
            alert(macAddress);
            var oWnd = radopen("Nocsa/TerminalForm.aspx?mac=" + macAddress, "RadWindowModifyTerminal");
        }
    }

</script>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxyTerminalList" runat="server">
    <AjaxSettings>
        <telerik:AjaxSetting AjaxControlID="RadGridTerminals">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="RadGridTerminals" />
            </UpdatedControls>
        </telerik:AjaxSetting>
    </AjaxSettings>
</telerik:RadAjaxManagerProxy>
<telerik:RadGrid ID="RadGridTerminals" runat="server" AllowSorting="True"
    AutoGenerateColumns="False" CellSpacing="0" GridLines="None"
    Skin="Metro" ShowStatusBar="True"
    Width="100%" AllowFilteringByColumn="True" OnItemDataBound="RadGridTerminals_ItemDataBound"
    OnNeedDataSource="RadGridTerminals_NeedDataSource" OnColumnCreated="RadGridTerminals_ColumnCreated"
    OnItemCreated="RadGridTerminals_ItemCreated"
    OnItemCommand="RadGridTerminals_ItemCommand"
    OnPageIndexChanged="RadGridTerminals_PageIndexChanged"
    OnSortCommand="RadGridTerminals_SortCommand"
    OnPageSizeChanged="RadGridTerminals_PageSizeChanged" ClientSettings-Resizing-AllowColumnResize="true">
    <GroupingSettings CaseSensitive="false" />
    <ExportSettings ExportOnlyData="True" IgnorePaging="True"
        OpenInNewWindow="True">
        <Pdf PageWidth="">
        </Pdf>
        <Excel Format="ExcelML" />
    </ExportSettings>
    <ClientSettings EnableRowHoverStyle="true">
        <Selecting AllowRowSelect="True" />
        <ClientEvents OnRowSelected="RowSelected" />
        <ClientEvents OnCommand="CommandSelected" />
    </ClientSettings>
    <MasterTableView CommandItemDisplay="Top" CommandItemSettings-ShowExportToExcelButton="True"
        CommandItemSettings-ShowExportToCsvButton="True" RowIndicatorColumn-Visible="True"
        RowIndicatorColumn-Resizable="True" RowIndicatorColumn-AndCurrentFilterFunction="Contains"
        CommandItemSettings-ShowAddNewRecordButton="False" PageSize="20" CommandItemSettings-ShowExportToWordButton="True" AllowMultiColumnSorting="True" CanRetrieveAllData="True">
        <CommandItemSettings ExportToPdfText="Export to PDF"></CommandItemSettings>
        <RowIndicatorColumn FilterControlAltText="Filter RowIndicator column" Visible="False">
        </RowIndicatorColumn>
        <ExpandCollapseColumn FilterControlAltText="Filter ExpandColumn column" Created="True">
        </ExpandCollapseColumn>
        <Columns>
            <telerik:GridBoundColumn DataField="FullName" FilterControlAltText="Filter FullNameColumn column"
                HeaderText="Name" UniqueName="FullName" ShowFilterIcon="False"
                AutoPostBackOnFilter="True">
                <ItemStyle Wrap="True" />
            </telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="MacAddress" FilterControlAltText="Filter MacAddressColumn column"
                HeaderText="MAC Address" MaxLength="12" ReadOnly="True" Resizable="False" UniqueName="MacAddress"
                CurrentFilterFunction="Contains" ShowFilterIcon="False"
                AutoPostBackOnFilter="True">
            </telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SitId" FilterControlAltText="Filter SitIdColumn column"
                HeaderText="Site ID" UniqueName="SitId" CurrentFilterFunction="Contains" ShowFilterIcon="false">
            </telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="IpAddress" FilterControlAltText="Filter IpAddressColumn column"
                HeaderText="IP Address" ReadOnly="True" UniqueName="IpAddress" ShowFilterIcon="False"
                AutoPostBackOnFilter="True" CurrentFilterFunction="Contains">
            </telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SlaId" FilterControlAltText="Filter SLA column"
                HeaderText="SLA" ReadOnly="True" UniqueName="ServiceColumn" ShowFilterIcon="False" AutoPostBackOnFilter="True">
            </telerik:GridBoundColumn>
            <telerik:GridBoundColumn AllowSorting="True" DataField="AdmStatus" FilterControlAltText="Filter AdmStatusColumn column"
                HeaderText="Status" ReadOnly="True" UniqueName="AdmStatus" ShowFilterIcon="False"
                AutoPostBackOnFilter="True" AllowFiltering="True" ItemStyle-Wrap="False">
                <ItemStyle Wrap="False"></ItemStyle>
            </telerik:GridBoundColumn>
            <telerik:GridCalculatedColumn DataFields="SitId" FilterControlAltText="Filter FUPResetDayColumn column"
                HeaderText="FUP Reset Day" UniqueName="FUPResetDay" ShowFilterIcon="False"
                AllowFiltering="False" Expression="({0} % 28) + 1">
                <HeaderStyle Width="95px" />
            </telerik:GridCalculatedColumn>
            <telerik:GridDateTimeColumn DataField="StartDate" FilterControlAltText="Filter StartDateColumn column"
                HeaderText="Start Date" ReadOnly="True" UniqueName="StartDate" ItemStyle-Wrap="False"
                ShowFilterIcon="True" DataFormatString="{0:dd/MM/yyyy}"
                PickerType="DatePicker" DataType="System.DateTime">
                <ItemStyle Wrap="False"></ItemStyle>
            </telerik:GridDateTimeColumn>
            <telerik:GridDateTimeColumn AllowSorting="True" DataField="ExpiryDate" DataType="System.DateTime"
                FilterControlAltText="Filter ExpiryDateColumn column" HeaderText="Expiry Date"
                ReadOnly="True" UniqueName="ExpiryDate" ItemStyle-Wrap="False" ShowFilterIcon="True"
                AutoPostBackOnFilter="True" DataFormatString="{0:dd/MM/yyyy}"
                PickerType="DatePicker">
                <ItemStyle Wrap="False"></ItemStyle>
            </telerik:GridDateTimeColumn>
            <telerik:GridBoundColumn DataField="CNo"
                FilterControlAltText="Filter CNo column" HeaderText="C/No" UniqueName="CNo"
                Visible="True">
            </telerik:GridBoundColumn>
            <telerik:GridTemplateColumn HeaderText="Redundant" UniqueName="RedundantSetup">
                <ItemTemplate>
                    <%--<asp:HiddenField runat="server" ID="RedundantSetupValue" Value="<%#Eval("RedundantSetup") %>" />--%>
                    <asp:Image runat="server" ID="RedundantSetupImage" ImageUrl="~/Images/satellite_dish_dual.png" ImageAlign="Middle" Visible="false" AlternateText='<%# Eval("RedundantSetup") %>' />
                </ItemTemplate>
            </telerik:GridTemplateColumn>
        </Columns>
        <EditFormSettings>
            <EditColumn FilterControlAltText="Filter EditCommandColumn column">
            </EditColumn>
        </EditFormSettings>
        <PagerStyle AlwaysVisible="True" />
    </MasterTableView>
    <FilterMenu EnableImageSprites="False">
    </FilterMenu>
    <PagerStyle PageButtonCount="5" />
    <HeaderContextMenu CssClass="GridContextMenu GridContextMenu_Default">
    </HeaderContextMenu>
</telerik:RadGrid>
<telerik:RadWindowManager ID="RadWindowManager1" runat="server" Skin="Metro" DestroyOnClose="True">
    <Windows>
        <telerik:RadWindow ID="RadWindowTerminalDetails" runat="server"
            Animation="None" Opacity="100" Skin="Metro" Title="Terminal Details" AutoSize="False"
            Width="1000px" Height="700px" KeepInScreenBounds="True" EnableShadow="True" EnableAriaSupport="True"
            VisibleStatusbar="True" Modal="True" DestroyOnClose="False">
        </telerik:RadWindow>
        <telerik:RadWindow ID="RadWindowModifyTerminal" runat="server" Animation="None" Opacity="100"
            Skin="Metro" Title="Modify Terminal" AutoSize="False" Width="850px" Height="700px"
            KeepInScreenBounds="True" EnableShadow="True" EnableAriaSupport="True" VisibleStatusbar="True"
            Modal="False" DestroyOnClose="False">
        </telerik:RadWindow>
        <telerik:RadWindow ID="RadWindowModifyAssociatedTerminal" runat="server" Animation="None" Opacity="100"
            Skin="Metro" Title="Modify Terminal" AutoSize="False" Width="950px" Height="800px"
            KeepInScreenBounds="True" EnableShadow="True" EnableAriaSupport="True" VisibleStatusbar="True"
            Modal="False" DestroyOnClose="False">
        </telerik:RadWindow>
        <telerik:RadWindow ID="RadWindowModifyActivity" runat="server" Animation="None" Opacity="100"
            Skin="Metro" Title="Modify Activity" AutoSize="False" Width="850px" Height="655px"
            KeepInScreenBounds="True" EnableShadow="True" EnableAriaSupport="True" VisibleStatusbar="True"
            Modal="False" DestroyOnClose="False">
        </telerik:RadWindow>
    </Windows>
</telerik:RadWindowManager>
