﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NMSDashboard.ascx.cs" Inherits="FOWebApp.Nocsa.NMSDashboard" %>
<iframe src="http://85.88.44.242:82/prd" width="1024" height="800">
</iframe>