<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="Article.ascx.cs" Inherits="design_WebUserControlArticle" %>

<div class="art-post">
    <div class="art-post-body">
<div class="art-post-inner art-article">
<h2 class="art-postheader">
      <asp:placeholder runat="server" id="HeaderPlaceholder"/>
</h2>
<div class="art-postcontent">

      <asp:placeholder runat="server" id="ContentPlaceholder"/>

</div>
<div class="cleared"></div>

</div>

		<div class="cleared"></div>
    </div>
</div>

