﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CMTSite.master.cs" Inherits="FOWebApp.CMTSite" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitleContentPlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
    </title>
    <link rel="shortcut icon" href="~/Images/favicon.ico"/>
    <link rel="icon" type="image/gif" href="~/Images/animated_favicon1.gif/">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta name="AUTHOR" content="Erwin Vermassen" />
    <meta name="COPYRIGHT" content="Nimera Mobile ICT BVBA" />
    <meta name="ROBOTS" content="NONE" />
    <link href="~/CMTStyle.css" rel="stylesheet" type="text/css" media="screen" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="formMain" runat="server">
    <asp:ScriptManager ID="ScriptManagerCMT" runat="server">
        <Services>
            <asp:ServiceReference Path="~/WebServices/VoucherSupportWS.asmx" />
            <asp:ServiceReference Path="~/WebServices/AccountSupportWS.asmx" />
        </Services>
    </asp:ScriptManager>
     <div>
        <table class="appmain">
            <tr class="headerPane">
                <td colspan="2">
                    <asp:ContentPlaceHolder ID="HeaderContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="menuPane">
                </td>
            </tr>
            <tr>
                <td class="leftpane">
                    <asp:ContentPlaceHolder ID="Sidebar1ContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
                <td class="rightpane">
                    <asp:ContentPlaceHolder ID="SheetContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
