﻿<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="MasterPage.master.cs" Inherits="MasterPage" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head runat="server">
    <!--
    Created by Artisteer v3.0.0.39952
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
  -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        <asp:ContentPlaceHolder ID="TitleContentPlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
    </title>
    <link rel="shortcut icon" href="~/Images/favicon.ico"/>
    <link rel="icon" type="image/gif" href="~/Images/animated_favicon1.gif/">
    <link rel="stylesheet" href="~/style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="~/style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="~/style.ie7.css" type="text/css" media="screen" /><![endif]-->
    <asp:ContentPlaceHolder ID="ScriptIncludePlaceHolder" runat="server">
        <script type="text/javascript" src="<%= ResolveUrl("~/jquery.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/script.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/Scripts/DistributorContentManager.js") %>"></script>
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ContentScriptManager" runat="server">
    </asp:ScriptManager>
    <div id="art-main">
        <div class="art-sheet">
            <div class="art-sheet-tl">
            </div>
            <div class="art-sheet-tr">
            </div>
            <div class="art-sheet-bl">
            </div>
            <div class="art-sheet-br">
            </div>
            <div class="art-sheet-tc">
            </div>
            <div class="art-sheet-bc">
            </div>
            <div class="art-sheet-cl">
            </div>
            <div class="art-sheet-cr">
            </div>
            <div class="art-sheet-cc">
            </div>
            <div class="art-sheet-body">
                <div class="art-header">
                    <div class="art-header-clip">
                        <div class="art-header-center">
                            <div class="art-header-jpeg">
                            </div>
                        </div>
                    </div>
                    <asp:ContentPlaceHolder ID="HeaderContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <div class="cleared reset-box">
                </div>
                <div class="art-nav">
                    <div class="art-nav-l">
                    </div>
                    <div class="art-nav-r">
                    </div>
                    <div class="art-nav-outer">
                        <asp:ContentPlaceHolder ID="MenuContentPlaceHolder" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
                <div class="cleared reset-box">
                </div>
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1">
                            <div class="art-layout-glare">
                                <div class="art-layout-glare-image">
                                </div>
                            </div>
                            <asp:ContentPlaceHolder ID="Sidebar1ContentPlaceHolder" runat="server">
                            </asp:ContentPlaceHolder>
                            <div class="cleared">
                            </div>
                        </div>
                        <div class="art-layout-cell art-content">
                            <asp:ContentPlaceHolder ID="SheetContentPlaceHolder" runat="server">
                            </asp:ContentPlaceHolder>
                            <div class="cleared">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cleared">
                </div>
                <div class="art-footer">
                    <div class="art-footer-t">
                    </div>
                    <div class="art-footer-b">
                    </div>
                    <div class="art-footer-body">
                        <div class="art-footer-text">
                            <p>
                                <a href="http://wwww.satadsl.com">SatADSL</a></p>
                            <p>
                                Copyright SatADSL © 2011. All Rights Reserved.</p>
                            <div class="cleared">
                            </div>
                            <p class="art-page-footer">
                                <a href="http://www.nimera.net/">Web Application</a> created by Nimera Mobile ICT.</p>
                        </div>
                        <div class="cleared">
                        </div>
                    </div>
                </div>
                <div class="cleared">
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
