﻿body {
    color: #215AE8;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
}

article {
    float: left;
    width: 200px;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #21C2E8;
}

.LoginForm {
    padding-bottom: 10px;
    padding-right: 10px;
}

.ChangeMac {
    padding-top: 10px;
    padding-bottom: 10px;
}

.FreeZonePanel {
    background-color: #21C2E8;
}

.Prompt {
    color: black;
}

.Label {
    color: #215AE8;
}

.ErrorMessage {
    float: left;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ResetFormText {
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ResetFormData {
}

