﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SpeedTest.ascx.cs" Inherits="FOWebApp.Distributors.SpeedTest" %>
<h2>Click <a href="http://nms.satadsl.net:82/bandwidth/">here</a> for a speed test</h2>