﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FinanceDashboard.ascx.cs" Inherits="FOWebApp.Finance.FinanceDashboard" %>
<telerik:RadRadialGauge ID="RadRadialGaugeSales" runat="server"></telerik:RadRadialGauge>
