﻿body 
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	color: #58595b;
}

.appmain
{
	border: 0px;
	width: auto;
}

.headerPane
{
	background-image: url("./Images/header.jpg");
}

.leftpane
{
	width: 200px;
}

h1
{
	color: White;
}
