/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; background: #838d93 url(../Images/bg_header.png) repeat-x; font-size: 13px; line-height: 1.385; }

body, button, input, select, textarea { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color: #58595b; }

::-moz-selection { background: #227fa7; color: #fff; text-shadow: none; }
::selection { background: #227fa7; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #227fa7; }
a:visited { color: #115876; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

.button { display: inline-block; height: 36px; padding: 0 17px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: url(./images/bg_button.png) repeat-x; font-size: 14px; font-weight: bold; line-height: 36px; text-decoration: none; color: #fff; }
.button:visited { color: #fff; }
.button:hover { color: #58595b; }

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #f7f7f8; margin: 1em 0; padding: 0; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

p { margin: 0 0 18px; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 30px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { display: block; padding: 5px 0; cursor: pointer; color: #081c28; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
input, select, textarea { border: 1px solid #d3d5d6; }
input { height: 28px; padding: 0; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
button { height: 30px; margin-top: 10px; padding: 0 20px; border: 1px solid #227fa7; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #227fa7; color: #fff; }
button:hover { background: #3b92b6; }

/* =============================================================================
   Primary styles
   Author: Demeyere Alex
   ========================================================================== */

h1 { margin: 0 0 15px; font-size: 20px; }
h2 { margin: 0; font-size: 14px; }

.wrapper { position: relative; width: 960px; margin: auto; }

/* header */

#header-container header { height: 190px; }
#header-container #logo { position: absolute; left: 27px; top: 29px; }
header nav { position: absolute; bottom: 40px; left: 0; }
header nav ul { height: 33px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; background: #227fa7; }
header nav ul li { display: inline; }
header nav a { float: left; display: block; width: 140px; height: 33px; line-height: 33px; color: #fff; text-decoration: none; text-align: center; }
header nav a:visited { color: #fff; }
header nav a:hover { color: #081c28; }
header nav .active a { -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; background: #f7f7f7; color: #081c28; }
#myMenu { float: right; height: 28px; margin-top: 4px; padding: 0 10px; background: #0a405d; line-height: 28px; }
#myMenu a { margin: 0 10px; color: #fff; text-decoration: none; font-size: 12px; }
#myMenu a:hover { text-decoration: underline; }
#languages { float: right; height: 28px; margin: 5px 10px 0 0; padding: 0; list-style: none; }
#languages li { display: inline; padding: 0 3px; border-left: 1px solid #081c28; line-height: 28px; font-size: 11px; color: #1d6791; }
#languages li:first-child { border: 0; }
#languages a { color: #081c28; text-decoration: none; }
#languages a:hover { color: #fff; }

/* sidebar */

aside { float: right; width: 260px; }
aside h2 { margin-bottom: 15px; font-size: 20px; }
aside td span { display: block; color: #8dc63f; }
.datarate { text-align: right; width: 100px}
aside .button { margin-left: 12px; }

/* subnav */

#subNav { float: left; width: 200px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #227fa7; }
#subNav a { display: block; padding: 15px 17px; border-top: 1px solid #8dbbcf; border-bottom: 1px solid #145e81; color: #fff; text-decoration: none; font-size: 14px; font-weight: bold; }
#subNav li.first a { border-top: 0; }
#subNav li.last a { border-bottom: 0; }
#subNav li.active a,
#subNav a:hover { color: #081c28; }

/* main */

#main-container { padding-top: 20px; background: #fff url(../images/bg_main.png) repeat-x bottom; }
#main { float: left; width: 650px; padding-right: 20px; height: 570px; }
#path { position: absolute; top: -50px; left: 0; padding-left: 20px; }
#path,
#path a { color: #a7a9ac; }
#path a:hover { color: #227fa7; }
#path span { color: #227fa7; }

article { padding: 11px 0; border-top: 1px solid #f7f7f8; }
article img { float: left; margin: 0 20px 0 0; }

/* hp */

#homepage { background-image: url(../images/bg_header_hp.png); }
#homepage #main-container { padding: 0; background: none; }
#homepage #path { top: -30px; }
#homepage #main { float: none; width: 960px; height: 338px; padding: none; }
#homepageTabs { position: relative; overflow: hidden; width: 958px; height: 311px; margin: 0; padding: 0; border: 1px solid #b2b0b0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; list-style: none;	-webkit-box-shadow: 0 0 10px 2px #ccc; -moz-box-shadow: 0 0 10px 2px #ccc; box-shadow: 0 0 10px 2px #ccc; }
#homepageTabs ul { width: 200px; margin: 0; padding: 0; list-style: none; }
#homepageTabs li a { display: block; width: 159px; height: 37px; padding: 20px; border-bottom: 1px solid #b2b0b0; font-size: 16px; font-weight: bold; text-decoration: none; color: #42505b; }
#homepageTabs li#tab1 { -webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px; }
#homepageTabs li#tab4 { -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-left-radius: 6px; }
#homepageTabs li#tab4 a { border-bottom: 0; }
#homepageTabs .ui-state-active { background: #081c28; }
#homepageTabs .ui-state-active a { border-color: #081c28; color: #fff; }
#homepageTabs .tabsInfo { position: absolute; top: 0; left: 200px; }
#homepageTabs .tabsInfo img { -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomright: 6px; border-bottom-right-radius: 6px; }
#homepageTabs .tabsInfo .tabContent { position: absolute; left: 0; top: 0; width: 160px; height: 216px; padding: 75px 20px 20px; background: url(../images/bg_tabcontent.png) repeat-y; color: #fff; font-size: 14px; }
#homepageTabs .tabsInfo .button { position: absolute; bottom: 20px; left: 20px; z-index: 10; width: auto; border-top: 0; color: #081c28; }
#homepageTabs .tabsInfo .button:hover { color: #fff; }
#homepageTabs .ui-tabs-hide { display: none; }

/* footer */
#footer-container { margin-bottom: 33px; padding: 20px 0; background: #fff; }
#footerActions { float: left; width: 420px; }
#faq,
#mysatadsl { float: left; width: 260px; }
#actionBlocks a { float: left; width: 193px; height: 76px; margin: 0 10px 10px 0; border: 1px solid #dad6d6; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #ffffff; background: url(../images/bg_actionblocks.png) repeat-y; color: #081c28; font-size: 14px; line-height: 16px; font-weight: bold; text-decoration: none; }
#actionBlocks a:hover { background: #f3f3f3; }
#actionBlocks span { display: inline-block; width: 132px; height: 55px; padding: 23px 0 0 63px; background-repeat: no-repeat; background-position: 10px 15px; }
#becomeClientLink span { background-image: url(../images/icon_becomeclient.png); }
#securityLink span { background-image: url(../images/icon_security.png); }
#promotionsLink span { background-image: url(../images/icon_promotions.png); }
#installationLink span { background-image: url(../images/icon_installation.png); }
#contactBlock { clear: both; overflow: hidden; width: 368px; height: 130px; padding: 15px; border: 1px solid #2b83af; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: url(../images/bg_contactblock.png) no-repeat; color: #fff; font-size: 16px; font-weight: bold; line-height: 25px; }
#contactBlock a { display: inline-block; width: 172px; height: 47px; margin-top: 20px; border: 1px solid #dad6d6; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #e0e0e0 url(../images/bg_contactactions.png) repeat-x; text-decoration: none; color: #4c5055; font-size: 14px; line-height: 47px; }
#contactBlock a:hover { background: #e0e0e0; }
#contactBlock span { display: inline-block; width: 116px; height: 47px; padding-left: 56px; }
#mailLink { margin-right: 10px; }
#mailLink span { background: url(../images/icon_mail.png) no-repeat 16px 13px; }
#phoneLink span { background: url(../images/icon_phone.png) no-repeat 16px 10px; }

#faq { margin-right: 10px; border: 1px solid #dad6d6; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
#faq h2 { padding: 10px 0 10px 18px; border-bottom: 1px solid #dad6d6; font-size: 16px; color: #081c28; }
#faq ul { margin: 0; padding: 0; list-style: none; }
#faq li { margin: 0; padding: 7px 10px 7px 18px; border-bottom: 1px solid #dad6d6; }
#faq li a { display: block; padding-left: 10px; background: url(../images/bg_listitem.png) no-repeat 0 6px; text-decoration: none; color: #58595b; }
#faq li a:hover { color: #227fa7; }
#faq p { padding: 10px 0 0 18px; }

#mysatadsl { float: right; border: 1px solid #dad6d6; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
#mysatadsl h2 { padding: 10px 0 10px 18px; border-bottom: 1px solid #dad6d6; background: #f7f7f7; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; font-size: 16px; color: #081c28; text-align: center; }
#mysatadsl h2 span { color: #227fa7; font-size: 13px; }
#mysatadslform { margin: 0; padding: 10px 0 20px 18px; border-bottom: 1px solid #dad6d6; background: #f7f7f7; }
#mysatadslform fieldset input { width: 218px; }
#mysatadslInfo p { padding: 10px 0 0 18px; font-weight: bold; }
#mysatadslInfo ul { margin: 0 0 18px 20px; padding: 0; list-style: none; }

#footerLinks { position: absolute; bottom: -53px; left: 0; width: 960px; line-height: 33px; color: #fff; }
#footerLinks span,
#footerLinks a { float: left; margin-right: 30px; }
#footerLinks a { color: #fff; text-decoration: none; }
#footerLinks a:hover { text-decoration: underline; }
#footerLinks #jobsLink { float: right; margin-right: 280px; }

.hidden { display: none; visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  aside, footer { display: none; }
}
