﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TerminalConsumedTab.ascx.cs" Inherits="FOWebApp_EndUsers.TerminalConsumedTab" %>
<div>
<asp:Chart ID="ChartConsumed" runat="server">
    <Series>
    </Series>
    <ChartAreas>
        <asp:ChartArea Name="ChartAreaConsumed">
        </asp:ChartArea>
    </ChartAreas>
</asp:Chart>
</div>
<div>
    Right click to E-Mail, save or print this graph!
</div>

