﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TestUserControl.ascx.cs" Inherits="FOWebApp.TestUserControl" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<center>    
    <h1>Feature not yet available in this version</h1>
    <telerik:RadBinaryImage ID="RadBinaryImage1" runat="server" ImageUrl="~/Images/welder.gif" />
</center>