﻿body 
{
}

.appmain
{
	border: 0px;
	width: auto;
}

.headerPane
{
	background-image: url("./Images/HeaderImage2.jpg");
}

.leftpane
{
	width: 200px;
}

h1
{
	color: White;
}

div.Roles {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

